name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build
        run: gradle build packJsNpmToMaven jacocoTestReport generatePomFileForKotlinMultiplatformPublication

      - uses: actions/upload-artifact@v2-preview
        with:
          name: M3-jvm
          path:  M3/build/libs/M3-jvm-*.jar

      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.5'
      - name: Install package-cloud
        run: |
          gem install package_cloud
          cat > /home/runner/.packagecloud <<EOL
          {"url":"https://packagecloud.io","token":"${{secrets.REPO_PACKAGE_KEY}}"}
      - name: remove previous snapshot
        run: |
          package_cloud yank sarahBuisson/sarahbuisson/java somewhere/M3-jvm-SNAPSHOT.jar
      - name: Publish snapshot
        run: |
          {
           echo 0
           echo 0
           echo y
           }  | package_cloud push sarahBuisson/sarahbuisson M3/build/libs/M3-jvm-*.jar --coordinates=somewhere:M3-jvm:SNAPSHOT

      - name: Build reportDir
        env:
          buildReportsDir: "buildReports"
          branchName: "branch"
        run: |
          mkdir ${{env.buildReportsDir}}
          cat > ${{env.buildReportsDir}}/index.html <<EOL
          <!doctype html>
          <html>
          <head>
           <title>GitHub reports deployed!</title>
          </head>
          <body>
           <p>GitHub Pages with <strong>${{ github.sha }}</strong> commit ID has been deployed through <a href="https://github.com/marketplace/actions/github-pages">GitHub Pages action</a> successfully.</p>
          <p>jacocoReports:

          <a href="${{env.branchName}}/reports/M3/jacoco">M3</a>
          <a href="/${{env.branchName}}/reports/M4/jacoco">M4</a>
          </p>
          <p>
          artifacts:
          <ul>
          <li></li></ul>
          </p>
          </body>
          </html>
          EOL
      - name: move into reports
        env:
          buildReportsDir: "buildReports"
          branchName:  "branch"

        run: |
          mkdir ${{env.buildReportsDir}}/${{env.branchName}}
          mkdir ${{env.buildReportsDir}}/${{env.branchName}}/reports
          mkdir ${{env.buildReportsDir}}/${{env.branchName}}/reports/M3
          mkdir ${{env.buildReportsDir}}/${{env.branchName}}/reports/M3/jacoco
          mkdir ${{env.buildReportsDir}}/${{env.branchName}}/reports/M4
          mkdir ${{env.buildReportsDir}}/${{env.branchName}}/reports/M4/jacoco
          mkdir ${{env.buildReportsDir}}/${{env.branchName}}/artifacts
          ls
          ls M3
          ls M3/build
          ls M3/build/npm
          cp -b -r M3/build/reports ${{env.buildReportsDir}}/${{env.branchName}}/reports/M3/jacoco;
          cp -b -r M4/build/reports ${{env.buildReportsDir}}/${{env.branchName}}/reports/M4/jacoco;
          cp -b -r M3/build/npm/M3-npm-*.jar ${{env.buildReportsDir}}/${{env.branchName}}/artifacts/M3-npm-LATEST.jar;
          cp -b -r M3/build/libs/M3-jvm-*.jar ${{env.buildReportsDir}}/${{env.branchName}}/artifacts/M3-jvm-LATEST.jar;
          cp -b -r M4/build/npm/M4-npm-*.jar ${{env.buildReportsDir}}/${{env.branchName}}/artifacts/M4-npm-LATEST.jar;
          cp -b -r M4/build/libs/M4-jvm-*.jar ${{env.buildReportsDir}}/${{env.branchName}}/artifacts/M4-jvm-LATEST.jar;

      - name: publish test coverage
        if: success()
        uses: crazy-max/ghaction-github-pages@v1
        with:
          target_branch: gh-reports
          build_dir: "buildReports"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v2-preview
        with:
          name: npm-M3
          path: M3/build/npm/M3-npm-*.jar
      - uses: actions/upload-artifact@v2-preview
        with:
          name: npm-M4
          path: M4/build/npm/M4-npm-*.jar
      - uses: actions/upload-artifact@v2-preview
        with:
          name: reports-jacoco
          path:  ./**/build/reports/

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name:
        env:
          BUILD_VERSION: $(mvn help:evaluate -Dexpression=project.version -q -f M3/build/publications/kotlinMultiplatform/pom-default.xml -DforceStdout)
          BUILD_ARTIFACT_ID: $(mvn help:evaluate -Dexpression=project.artifactId -q -f M3/build/publications/kotlinMultiplatform/pom-default.xml -DforceStdout)
      - if: contains(['SNAPSHOT'],env.BUILD_VERSION)
        name: Publish to GitHub Packages
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPO_URL: ${{ github.repository }}
        run: gradle publish --stacktrace
      - if: false == contains(['SNAPSHOT'],env.BUILD_VERSION)
        name: Publish to GitHub Packages
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPO_URL: 'sarahBuisson/private_repo_snapshot'
        run: gradle publish --stacktrace