name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Publish to GitHub Packages
        run: gradle build packJsNpmToMaven publish
        env:
          USERNAME: ${{ github.actor }}
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v1
        with:
          name: maven
          path: M4/build/libs/M4*.jar
      - uses: actions/upload-artifact@v1
        with:
          name: npm
          path: M4/build/npm/M4-js-0.0.1.jar