name: Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build
        run: gradle build packJsNpmToMaven jacocoTestReport
      - name: Build reportDir
        env:
          buildReportsDir: buildReports
        run: |
          mkdir ${{env.buildReports}}
          cat > ${{env.buildReports}}/index.html <<EOL
          <!doctype html>
          <html>
          <head>
           <title>GitHub reports deployed!</title>
          </head>
          <body>
           <p>GitHub Pages with <strong>${{ github.sha }}</strong> commit ID has been deployed through <a href="https://github.com/marketplace/actions/github-pages">GitHub Pages action</a> successfully.</p>
          </body>
          </html>
          EOL
      - name: move into reports
        run: |
          mkdir ${{env.buildReports}}/${{github.ref}}
          mkdir ${{env.buildReports}}/${{github.ref}}/reports
          mkdir ${{env.buildReports}}/${{github.ref}}/artifacts
          cp -b M3/build/reports ${{env.buildReports}}/${{github.ref}}/reports/M3/jacoco;
          cp -b M4/build/reports ${{env.buildReports}}/${{github.ref}}/reports/M4/jacoco;
          cp -b M3/build/npm/M3-js-*.jar ${{env.buildReports}}/${{github.ref}}/artifacts/M3-js-LATEST.jar;
          cp -b M3/build/npm/M3-jvm-*.jar ${{env.buildReports}}/${{github.ref}}/artifacts/M3-jvm-LATEST.jar;
          cp -b M4/build/npm/M4-js-*.jar ${{env.buildReports}}/${{github.ref}}/artifacts/M4-js-LATEST.jar;
          cp -b M4/build/npm/M4-jvm-*.jar ${{env.buildReports}}/${{github.ref}}/artifacts/M4-jvm-LATEST.jar;

      - name: Deploy
        if: success()
        uses: crazy-max/ghaction-github-pages@v1
        with:
          target_branch: gh-reports
          build_dir: reports
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v1
        with:
          name: npm
          path: M4/build/npm/M4-js-0.0.1.jar


      - name: Publish to GitHub Packages
        run: gradle publish --stacktrace
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPO_URL: ${{ github.repository }}